<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Users page</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <h3 align="center" >Список Пользователей</h3>
    <br>
    <span th:unless="${users.size() > 0}">Пользователей пока нет, попробуйте добавить нового</span>
    <table class="table table-striped" th:if="${users.size() > 0}">
        <thead>
        <tr>
            <td>Id</td>
            <td>Имя</td>
            <td>Возвраст</td>
            <td>Действия</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="u : ${users}">
            <td th:text="${u.id}"></td>
            <td th:text="${u.name}"></td>
            <td th:text="${u.age}"></td>
            <td>
                <a class="btn btn-danger" th:href="@{'/users/remove/' + ${u.id}}">Удалить</a>
                <a class="btn btn-secondary" th:href="@{'/users/edit/' + ${u.id}}">Редактировать</a>
            </td>
        </tr>
        </tbody>
    </table>
    <span th:text="'Всего пользователей: ' + ${@productService.getProducts().size()}"/>

    <br>
    <br>
    <h4>Добавить коробку:</h4>
    <form th:action="@{'/users/add'}" method="post">
        <div class="form-group">
            <label>Имя</label>
            <input type="text" class="form-control form-control-sm" name="name">
        </div>
        <div class="form-group">
            <label>Возвраст</label>
            <input type="number" class="form-control form-control-sm" name="age">
        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
    <br>
    <br>
    <a class="btn btn-info" th:href="@{'/'}">Навигация</a>
</div>

</body>
</html>